<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>
<p class="abc">内容: <%= @feed.content %></p>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
  <footer class="footer">
  <!-- 追記 -->
  <p>Copyright © 2018 DIVE INC All RIGHTS RESERVED.</p>
</footer>